body {
  background-color: bisque;
}

header {
  display: flex;
  align-items: center;
  padding-inline-start: 1rem;
  padding-top: 1rem;
}

h1 {
  color:blue;
  font-size: x-large;
  padding-left: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;	
  grid-template-rows: 50% 10% 40%;
  column-gap: 20px;
  row-gap: 20px;  
}

  