body {
  background-color: bisque;
  color: white;
}

header {
  display: flex;
  align-items: center;
  padding-inline-start: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  color:brown;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;	
  grid-template-rows: 50% 10% 40%;
  
  background-color: brown;
}

aside {
  background-color: rgb(70, 6, 6);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:4;
}

aside legend {
  font-size: larger;
  padding-bottom: 1rem;
}

aside li {
  padding-bottom: 1rem;
  padding-left: 1rem;
}
#productOptions {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;  
  padding-left: 1rem;
}

#productOptions img {
  border-radius: 25px;
  width:auto;
  height: auto;
  object-fit: cover;
  padding-top: 5px;
}

article {
  grid-column-start:2;
  grid-column-end:5;
  grid-row-start:3;
  grid-row-end: 4;
  padding-left: 1rem;
}

canvas {
  background-color: white;
}

footer {
  padding: 1rem;
  color: black;
}
